application {
  loggerConf {
    serviceName = "transaction-manager"
  }

  dbConf {
    proto = "jdbc:postgresql"
//    url = "pg:5432" docker env conf
    url = "localhost:5432"
    dbName = "rmp"
    driverClassName = "org.postgresql.Driver"
    username = "postgres"
    password = "my-secret-pw"
  }
}