application {
  isDebug = true // true/false
  fileLocation = ""
  zoneOffset = 3
  sleepTarget = 8

  jwt {
    domain = "localhost" //Domain to create JWT on
    secret = "D>\\2t_<)`z@@e9yw1[NS2e7U0^3I9NNo" //Secret for jwt generation
    expirationTime = 120 //About 1 minute to expire
    refreshExpirationTime = 86400 //About 2 days to expire
  }

  redis {
//    host = "redis" for docker env
    host = "0.0.0.0"
    port = 6379

    db = "db-channel"
    api = "api-channel"
    auth = "auth-channel"
    logger = "logger-channel"
    paprika = "paprika-channel"
    diet = "diet-channel"
    user = "user-channel"
  }
}